[submodule "gegl"]
	path = gegl
	url = git://git.gnome.org/gegl
[submodule "babl"]
	path = babl
	url = git://git.gnome.org/babl
[submodule "libsoup"]
	path = libsoup
	url = git://git.gnome.org/libsoup
